<!DOCTYPE html>
<!-- saved from url=(0075) -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    name="viewport">
  <title>学生信息</title>

  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/ionicons.min.css">
  <link rel="stylesheet" href="./css/fontawesome-all.min.css">

  <link rel="stylesheet" href="./css/summernote-lite.css">
  <link rel="stylesheet" href="./css/flag-icon.min.css">
  <link rel="stylesheet" href="./css/demo.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/pager.css">
  <style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>
</head>

<body>
  <div class="adcenter">
    <link type="text/css" rel="stylesheet" href="./css/astyle.css">
    <div align="center">
      <a href="\" rel="nofollow" target="_blank"><img src="" alt="" border="0"></a>
    </div>
  </div>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto" onsubmit="return false">
          <ul class="navbar-nav mr-3">
            <li>
              <a href="" data-toggle="sidebar" class="nav-link nav-link-lg">
                <i class="ion ion-navicon-round"></i>
              </a>
            </li>
            <li>
              <a href="" data-toggle="search" class="nav-link nav-link-lg d-sm-none">
                <i class="ion ion-search"></i>
              </a>
            </li>
          </ul>
          <div class="search-element">
            <input class="form-control" id="search" type="search" placeholder="Search" aria-label="Search"
              list="dataList">
            <button class="btn" type="submit" id="searchBtn"><i class="ion ion-search"></i></button>
            <datalist id="dataList">

            </datalist>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle">
            <a href="" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep">
              <i class="ion ion-ios-bell-outline"></i>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="">View All</a>
                </div>
              </div>
              <div class="dropdown-list-content">
                <a href="" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="./image/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="./image/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="" class="dropdown-item">
                  <img alt="image" src="./image/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="" class="dropdown-item">
                  <img alt="image" src="./image/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="" class="dropdown-item">
                  <img alt="image" src="./image/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
              <i class="ion ion-android-person d-lg-none"></i>
              <!-- username -->
              <div class="d-sm-none d-lg-inline-block">Hi, <%= adminData.username %></div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="" class="dropdown-item has-icon">
                <i class="ion ion-android-person"></i> Profile
              </a>
              <a href="" class="dropdown-item has-icon">
                <i class="ion ion-log-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <%- include('./header.ejs',{idx:'index'}) %>
      <div class="main-content" style="min-height: 868px;">
        <section class="section">
          <h1 class="section-header">
            <div>学生管理</div>
            <button class="btn  btn-success exportExcel" style="float: right;">导出为Excel</button>
          </h1>
          <table class="table">
            <caption>学员列表</caption>
            <thead>
              <tr>
                <th>学号</th>
                <th>名字</th>
                <th>性别</th>
                <th>年龄</th>
                <th>[操作]</th>
              </tr>
            </thead>
            <tbody id="list" class="studentList">




            </tbody>

          </table>
          <section id="wrap">

          </section>

        </section>
      </div>
      <%- include('./footer.ejs') %>
    </div>
  </div>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/pagination.js"></script>
  <script>
    $(function () {
      new StudentList();

    })
    function StudentList() {
      this.page = 1; //默认页
      this.searchData = {}  //通过模糊搜索查找出来的数据
      this.init()
      this.bindEvent()
    }
    StudentList.prototype.init = function () {
      let _this = this
      $.get('/student/msg', { page: this.page }, function (res) {
        _this.renderDom(res)
      })
    }
    StudentList.prototype.renderDom = function (data) {
      let _this = this;
      // console.log(data.data);
      if(data.data.length > 0){
        $('#list').empty()
        $.each(data.data, (idx, item) => {
          let tr = $("<tr></tr>")
          tr.html(`
                  <td>${item.sid}</td>
                  <td contenteditable="true">${item.name}</td>
                  <td contenteditable="true">${item.sex}</td>
                  <td contenteditable="true">${item.age}</td>
                  <td>
                    <input type="button"  value='删除' class="btn btn-warning del" data-id="${item.sid}">
                    <input type="button" value='修改' class="btn btn-info change" data-id="${item.sid}">
                  </td>
          `).appendTo($('#list')[0])
        })
        //渲染分页
        pagination.init({
          // showData:1,
          wrapid: 'wrap', //页面显示分页器ID
          total: data.count, //总数据条数
          pagesize: 4, //每页3条数据
          currentPage: _this.page, //当前页
          onPagechange: function (n) {
            //页面改变时触发， 参数 n 为改变后的当前页数
            _this.page = n
            _this.init()
          }
        })
      } else {
        //本页数据为0
        if( _this.page > 1 ){
          _this.page -= 1;
          _this.init();
        }else{
          $('#wrap').empty();
          $('.studentList').html('暂无数据');
        }
      }
    }

    StudentList.prototype.bindEvent = function () {
      let _this = this;
      //修改学生的信息：
      $('.studentList').delegate('.change', 'click', function () {
        let sid = $(this).attr('data-id')
        let childrens = $(this).parent().parent().children()
        let uname = childrens.eq(1).text()
        let sex = childrens.eq(2).text()
        let age = parseInt(childrens.eq(3).text())
        if (sex != '男' && sex != '女') {
          alert('请输入正确性别');
          return
        }
        if (isNaN(age)) {
          alert('请输入有效数字')
          return
        }

        // console.log(sid, uname, sex, age)
        $.post('/student/' + sid, { uname, sex, age }, (res) => {
          // console.log(res)
          if (res.error) { //修改成功
            alert("修改成功")
            return
          }
          alert('修改失败')
        })
      })

      //删除学生信息：
      $('.studentList').delegate('.del','click',function (){
        var _confirm = confirm('是否确认删除？');
        if( !_confirm ) return;

        var sid = $(this).attr('data-id');
        $.ajax({
          url:"/student/"+sid,
          type:"delete",
          success (res){
            console.log(res);
            _this.init();
          }
        })
      })

      //模糊搜索    上边 .search 是 #search   #search 是 searchBtn
      $('#search').on('input', this.searchStudent.bind(this))
      $('#search').on('keydown', function (e) {
        if (e.keyCode == 13) { //敲击回车
          _this.searchData.data && _this.renderDom(_this.searchData);
        }
      })
      $('#searchBtn').on('click', function () {
        _this.searchData.data && _this.renderDom(_this.searchData);
      })

      //导出为excel表 格式为xlsx
      $('.exportExcel').on('click',function (){
        var _confirm = confirm('确定导出所有学生数据');
        if( !_confirm ) return;
        $.get('/student/exportExcel',function (res){
          // console.log(res.error);
          if(res.error){
            // console.log(window.location+'excel/'+res.msg);
            window.location = window.location+'excel/'+res.msg;
          }
        })
      })

    }
    StudentList.prototype.searchStudent = function () {
      let _this = this
      let val = $("#search").val()
      if (!val) {
        _this.searchData = {};
        this.init();
        return;
      }
      $.get('/student/search', { search: val }, function (res) {
        $('#dataList').empty()
        if (res.data.length > 0) {
          //设置搜索结果的数据
          _this.searchData = {
            count: res.data.length,
            now: 1,
            data: res.data
          }
          $.each(res.data, (idx, item) => {
            let option = $("<option></option>")
            option.val(item.name)
            option.text(item.name)
            option.appendTo($('#dataList'))
          })
        }
      })
    }
  </script>
  <script src="./js/popper.js"></script>
  <script src="./js/tooltip.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.nicescroll.min.js"></script>
  <script src="./js/scroll-up-bar.min.js"></script>
  <script src="./js/sa-functions.js"></script>
  <script src="./js/summernote-lite.js"></script>
  <script src="./js/scripts.js"></script>
  <script src="./js/custom.js"></script>